@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
